header {
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
    height: 68px;


    img {
        width: 150px;
    }

    nav {
        display: flex;
        align-items: center;
        gap: 50px;

        a {
            font-size: 1rem;
            color: black;
            text-decoration: none;
        }

        .active {
            border-bottom: 2px solid black;
        }
    }
}

@media (max-width: 700px) {
    header {
        a {
            display: flex;

        }

        img {
            width: 145px;
        }

        nav {
            gap: 25px;

            a {
                font-size: 0.8rem;
                text-transform: uppercase;
            }
        }

    }
}